.idea

.gradle
build
src/gen

__pycache__/
*.py[cod]
*$py.class

dist
*egg-info

# golang
th2-grpc
src/main/proto/th2_grpc_common
src/main/proto/th2_grpc_check1
bin/

go.mod
go.sum
go.work
go.work.sum